<div class="overflow-x-auto rounded-lg shadow-xl">
  <!-- Table -->
  <div class="relative">
    <table class="w-full whitespace-no-wrap mt-0 table-fixed">
      <!-- Table-headers -->
      <thead class="sticky top-0 z-10 bg-gray-200/50 dark:bg-gray-800/40">
      <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 dark:text-gray-400">
        @for (column of columns; track columns; let i = $index) {
          <th class="px-4 py-3" [ngClass]="{'pl-4': i >= columns.length - 2}">{{ column }}</th>
        }
      </tr>
      </thead>
    </table>
    <div class="overflow-y-auto"
    [ngClass]="!small ? 'max-h-30vh sm:max-h-40vh lg:max-h-60vh' : 'lg:max-h-42vh sm: sm:max-h-22vh max-h-12vh'">
      <table class="w-full whitespace-no-wrap mt-0 table-fixed">
        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">

        <!-- Show if API requests fail -->
        <tr #invalidAlert class="hidden">
          <td [attr.colspan]="columns.length" class="text-center py-5">
            <div class="flex flex-col items-center justify-center">
              <h2 class="text-red-700">API-Daten ungültig!</h2>
              <span class="text-sm text-gray-600 dark:text-gray-400">Überprüfe, ob die API-Daten in der Datei <code>src/app/services/types/environment.ts</code> korrekt sind.</span>
            </div>
          </td>
        </tr>

          <!-- Loader GIF -->
          @if (this.apiService.isLoading || (rows.length == 0 && !this.apiService.isEmptyResults)) {
            <tr>
              <td [attr.colspan]="columns.length" class="text-center py-5">
                <div class="flex flex-col items-center justify-center">
                  <img ngSrc="assets/img/page-load.gif" alt="Loading..." height="200" width="200" class="h-24 w-24">
                  <span class="text-sm text-gray-600 dark:text-gray-400">Lädt..</span>
                </div>
              </td>
            </tr>
        } @else {
        <!-- Table-rows -->
          @for (row of rows; track $index) {
            <tr class="text-gray-700 dark:text-gray-400 hover:bg-gray-700/30">
              @for (cell of row; track $index) {
                <td class="px-6 py-3"
                    [ngClass]="{'pl-5': $index != 0 && columns.length > 6, 'pl-4': $index === 0}">{{ cell }}</td>
              }
            </tr>
          }
        }

        </tbody>
      </table>
    </div>
  </div>
</div>
